python-dotenv
langchain-classic
langchain-community
langchain-openai
langchain-qdrant
langchain-text-splitters
openai
qdrant-client
sentence-transformers
streamlit
tiktoken
redis
langchain-redis
langchain-core
numpy
scikit-learn
pypdf
langchain
rank_bm25